/* bootstrap modificatoins */

body {
	padding-top: 60px;
}

button, input, select, textarea {
	width: 100%;
}

div.content {
	margin-left: 10px;
}

div.row {
	padding: 10px;
}

div.sidebar {
	width: 285px;
}

/* application styles */

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

path.area {
	fill: #AAAAAA;
}

path.line {
	fill: none;
	stroke: #00FF00;
	stroke-width: 1px;
}

circle {
	stroke-width: 0.5px;
}
circle.monte-dot-in { fill: #0000FF; stroke: #6666FF; }
circle.monte-dot-out { fill: #FF0000; stroke: #FF6666; }

b.pos { color: #0000FF; }
b.neg { color: #FF0000; }
b.area { color: #AAAAAA; }
